.filmNav a{
	text-decoration: none;
}
.filmNav ul{
	display: flex;
	flex-dirextion:row;
	margin: 0 auto;
	width: 95%;
	border-bottom: 1px solid orange;
}
.filmNav ul li{
	flex:1;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
}
.move{
	position: relative;
	height: 3px;
	bottom: 0px;
	width: 45%;
	left: 2.5%;
	background-color: #FE6E00;
}