<div style="background-color: #ededed">
	<div class="profile">
	<div class="profile_header">
		<div class="header_center">
			<div class="file">
				<input type="file" id="loadImage" >
				<img [src]="imgSrc" alt="">
				<div class="detail">
					<p class="user">
						<span>手机用户111111</span>
					</p>
					<p class="email">ID:24434354</p>
					<p class="operation">
						<span class="logout">
							退出
						</span>
					</p>
				</div>
			</div>
			
		</div>
	</div>
	<div class="profile_center">
		<div class="menu-wrapper">
			<div class="menu">
				<i class="fa fa-ticket iconQian"></i>
				<span class="title">影票订单</span>
				<div class="pull-right">
					<span class="value-wrap">
						<span class="value">0</span>
						<span>张</span>
					</span>
					<i class="fa fa-angle-right iconRight"></i>
				</div>
			</div> 
		</div>
		<div class="menu-wrapper">
			<div class="menu">
				<i class="fa fa-hourglass-o iconQian"></i>
				<span class="title">影票待付订单</span>
				<div class="pull-right">
					<span class="value-wrap">
						<span class="value">0</span>
						<span>张</span>
					</span>
					<i class="fa fa-angle-right iconRight"></i>
				</div>
			</div> 
		</div>
		<div class="menu-wrapper">
			<div class="menu">
				<i class="fa fa-cloud iconQian"></i>
				<span class="title">商城订单</span>
				<div class="pull-right">
					
					<i class="fa fa-angle-right iconRight"></i>
				</div>
			</div>  
		</div>
		<div class="menu-wrapper cash">
			<div class="menu">
				<i class="fa fa-money iconQian"></i>
				<span class="title">我的现金券</span>
				<div class="pull-right">
					<span class="value-wrap">
						<span class="value">0</span>
						<span>张</span>
					</span>
					<i class="fa fa-angle-right iconRight"></i>
				</div>
			</div>  
		</div>
		<div class="menu-wrapper yinhua">
			<div class="menu">
				<i class="fa fa-money iconQian"></i>
				<span class="title">账户余额</span>
				<div class="pull-right">
					<span class="value-wrap">
						<span class="value">0</span>
						<span>张</span>
					</span>
					<i class="fa fa-spinner iconRight"></i>
				</div>
			</div> 
		</div>
		<div class="menu-wrapper card">
			<div class="menu">
				<i class="fa fa-id-card-o iconQian"></i>
				<span class="title">我的卖座卡</span>
				<div class="pull-right">
					<span class="value-wrap">
						<span class="value">0</span>
						<span>张</span>
					</span>
					<i class="fa fa-angle-right iconRight"></i>
				</div>
			</div>  
		</div>
		<div class="menu-wrapper">
			<div class="menu">
				<i class="fa fa-cog iconQian"></i>
				<span class="title">设置</span>
				<div class="pull-right">
					<i class="fa fa-angle-right iconRight"></i>
				</div>
			</div> 
		</div>
	</div>
</div>


</div>